<div id="simpleChatWrapper" >
	<div id="slidingContent" ng-class="{ 'chat-visible': vm.chatVisible }">
		<div id="enableChatWrapper"
		ng-click="vm.toggleChat()"
		ng-swipe-left="vm.toggleChat()"
		ng-swipe-right="vm.toggleChat()">
			<i id="chatNotify" class="fa fa-weixin" ng-class="{ 'attention': vm.unseenMessages > 0 }"></i>
			<i id="enableChatBtn" class="fa fa-chevron-left" ng-class = "{ 'fa-chevron-right': vm.chatVisible }"></i>
		</div>
		<div id="simpleChat">
			<div id="enterForm" ng-if="!vm.username">
				<h1>The One Room</h1>
				<p>Please choose a username so you can join the chat</p>
				<form>
					<label>USERNAME: </label>
					<input id="name" ng-model="vm.formUsername">
					<button class="imba-btn" ng-click="vm.setName()">choose name</button>
				</form>
				<span ng-show="vm.errors.name">Cannot use that name</span>
			</div>
			<div ng-if="vm.username">
				<users-slider me="vm.username" users="vm.currentUsers" blocked="vm.blockedUsers"></users-slider>
				<chat-messages me="vm.username" messages="vm.messages" blocked="vm.blockedUsers"></chat-messages>
				<form id="message">
					<input ng-model="vm.formMessage">
					<button ng-click="vm.sendMessage()">send</button>
				</form>
			</div>
		</div>
	</div>
</div>